.detailed_details {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0px 26px;
  margin: 6.5rem;
}

.main-opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(57, 55, 72, 0.22);
  z-index: 40;
}

/* IMAGES SECTION */
.images__section {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 30px 0px;
  line-height: 0.7rem;
  /* border: 3px solid; */
}

.SmallImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iSmall {
  height: 12vh;
  object-fit: contain;
  padding-bottom: 0.8rem;
  cursor: pointer;
}

.LargeImg {
  height: 65vh;
  width: 40vw;
  object-fit: contain;
  padding: 0px 30px;
}

/* CART SECTION */
.label,
.attributes__title {
  margin-top: 20px;
  margin-bottom: -17px;
  font-weight: 700;
  font-size: large;
  text-transform: uppercase;
}

.add_to_cart {
  width: 20vw;
  text-align: center;
  padding: 16px 25px;
  margin-right: 15px;
  margin-bottom: 9px;
  margin-top: 30px;
  color: white;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  background-color: #499c34;
}

.add_to_cart:hover {
  background-color: #76af68;
  color: #222;
}
.out_of_stock_cart {
  width: 20vw;
  text-align: center;
  padding: 16px 25px;
  margin-right: 15px;
  margin-bottom: 9px;
  margin-top: 30px;
  color: white;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.3);
}

.out_of_stock_cart:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.price__tag {
  padding-top: 25px;
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: 500;
}

.description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 159.96%;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 5px;
}

.product__brand {
  font-size: 2rem;
  margin-top: 3rem;
}

.description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  height: fit-content;
  padding-right: 5px;
}

.description h1 {
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  line-height: normal;
}

.description h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: normal;
}

.description p {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* REFACTORING CODE  */

.attributes-all {
  margin: 43px 0 40px;
}

.attributes {
  margin-bottom: 20px;
  line-height: 1rem;
}

.attributes__title {
  margin-bottom: 8px;
}

.attributes__list {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

input {
  display: none;
}

.attributes__text {
  width: 63px;
  height: 45px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1d1f22;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  cursor: pointer;
}

:checked + label .attributes__text {
  background: #1d1f22;
  color: #ffffff;
}

:disabled + label .attributes__text {
  border: 1px solid #a6a6a6;
  color: #a6a6a6;
  cursor: default;
}

.attributes__color {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  cursor: pointer;
  box-sizing: border-box;
}

:checked + label .attributes__color {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 2px #5ece7b;
}

.warning,
.success {
  height: 15px;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
}

.red {
  color: red;
}

.green {
  color: green;
}
