.navbar {
  position: relative;
  width: 100%;
  height: 5rem;
  top: 0px;
  left: 0px;
  /* z-index: 999; */
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;

  position: absolute;
  height: 2.5rem;
  left: 6.5rem;
  bottom: 0;
  /* border:3px solid */
}

.selected-category {
  border-bottom: #5ece7b solid;
}

.selected-category p {
  color: #5ece7b;
}

.logo {
  position: absolute;
  width: min-content;
  bottom: 0;
  left: 50%;
  /* border :3px solid */
}

.actions {
  display: flex;
  flex-direction: row;
  padding: 0;
  bottom: 0;
  position: absolute;
  right: 6.5rem;
  /* border: 3px solid; */
  height: 2.5rem;
}

.actions .currency,
.mini-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  width: 3rem;
  cursor: pointer;
}

/* .actions .currency:hover,
.mini-cart:hover {
  color: #5ece7b;
  border-bottom: 3px solid #5ece7b;
} */

.actions p {
  display: inline;
  margin-right: 0.3rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
}

.amount-circle {
  position: absolute;
  top: -0.5rem;
  right: 0rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1d1f22;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
