.toggle__cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  gap: 32px;

  position: absolute;
  right: 5%;
  top: 3.5rem;
  background: white;
  /* width: 340px; */
  height: fit-content;
  max-height: 677px;

  z-index: 999;
}

.frame12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  /* width: 293px; */
  height: 538px;
}

.bag-header {
  /* width: 118px; */
  height: 26px;

  font-family: "Raleway";
  font-style: normal;
  font-size: 16px;
  line-height: 160%;

  text-align: right;

  color: #1d1f22;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  /* width: 293px; */
  height: 420px;
  overflow-y: scroll;
}

.items::-webkit-scrollbar{
  display: none;
}

.frame9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

}

.frame8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

}

.frame7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 1rem;
  max-height: 190px;
  overflow: scroll;

  width: 160px;
}

.frame7::-webkit-scrollbar{
  display: none;
}

.frame3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  /* width: 136px; */
  /* height: 110px; */
}

.name {
  /* width: 136px; */
  height: 25px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  color: #1d1f22;
  margin-bottom: 0.5rem;

}

.price {
  width: 52px;
  height: 26px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;

  text-align: right;

  color: #1d1f22;
}

.attributes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 160px;
  height: 48px;
}

.attribute-name {
  width: 100%;
  height: 16px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #1d1f22;
}

.attribute-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

.attribute-list_text-false {
  box-sizing: border-box;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;

  color: #1d1f22;

  display: flex;
  justify-content: center;

  width: max-content;
  min-width: 24px;
  
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  height: 24px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #1d1f22;
}

.attribute-list_text-true {
  box-sizing: border-box;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;

  color: #ffffff;

  display: flex;
  justify-content: center;

  width: max-content;
  min-width: 24px;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  height: 24px;
  background: #1d1f22;
  border: 1px solid #1d1f22;
}

.attribute-list_color-true {
  width: 20px;
  height: 20px;
  border: 1px solid #5ece7b;
}
.attribute-list_color-false {
  width: 16px;
  height: 16px;
}

.frame4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 24px;
  height: 190px;
  
}

.btn {
  width: 24px;
  height: 24px;
  border: 1px solid #1d1f22;
  cursor: pointer;
}

.btn span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;

  position: relative;
  left: 30%;
  bottom: 20%;
  color: #1d1f22;
}

.quantity {
  width: 8px;
  height: 26px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;

  text-align: center;
}

.item-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-image img {
  width: 121px;
  height: 190px;
  object-fit: contain;
}

.total-price {
  width: 289px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.total-price span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  color: #1d1f22;
}

.total-price div {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  padding-right: 0;
}

.mini-cart-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 292px;
  height: 43px;

  text-decoration: none;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}

.btn-view {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  width: 140px;
  height: 43px;

  background: #ffffff;
  border: 1px solid #1d1f22;

  color: #1D1F22;
}

.btn-checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  width: 140px;
  height: 43px;

  background: #5ece7b;
  color: #FFFFFF;
}

.linked {
  text-decoration: none;
}
